.btn {
  min-height: 3.25rem !important;
  height: 3.25rem !important;
  line-height: 3.25rem !important;
  border-radius: 0 !important;
  padding: 0 1.25rem !important;
}

// .btn-danger:hover {
//   background: #8F111F !important;
//   border-color: #8F111F !important;
//   box-shadow: none !important;
//   outline-color: #8F111F !important;
// }
