.without-border {
  position: relative;
}

.bri-line {
  position: absolute;
  z-index: 1 !important;
  background-color: $body-bg; //$o-view-background-color;
  transform: scale(1.01);
}

.line-left {
  height: 100% !important;
  width: 5px !important;
  left: -3px;
}

.line-top {
  height: 5px !important;
  width: 100% !important;
  top: -3px;
}

.line-right {
  height: 100% !important;
  width: 5px !important;
  right: -3px;
}

.line-bottom {
  height: 5px !important;
  width: 100% !important;
  bottom: -3px;
}

.banner-map {
  overflow: hidden;
  position: relative;
}

.blur-banner-map{
  position: absolute;
  bottom: 0 ;
  z-index: 10;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}

.btn-line {
    color:white !important;
    /* height: 80px !important; */
}

.nav-link-custom {
    transition: all .2s ease-in-out;
}

.nav-pills .nav-link-custom.active,
.nav-pills .show>.nav-link-custom
{
    color: var(--primary) !important;
    background-color:#fff !important;
    border: 1px solid var(--primary) !important;
    height: 100% !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateY(-2px);
    z-index: 1000;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.8); 
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.8);
}

// ================ CAROUSEL MOBILE ==================
.swiper {
  width: 100%;
}

.swiper-pagination-bullet-active {
  border: 1px solid skyblue;
  transform: scale(2);
  box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
}

@media (min-width: 768px){
    .nav-pills .nav-link-custom.active,
    .nav-pills .show>.nav-link-custom
    {
        transform: scale(1.2) translateY(-9px);
    }
}


@media screen and (min-width: 768px) {
	.contenedor-relativo {
    position: relative;
  }

  .contenedor-relativo h1 {
    position: absolute;
    top: -10px;
    max-width: 100%;
    height: auto;
  }
}

.swiper-slide > img {
  width: 90% !important;
}