.without-border {
  position: relative;
}

.bri-line {
  position: absolute;
  z-index: 1 !important;
  background-color: $body-bg; //$o-view-background-color;
  transform: scale(1.01);
}

.line-left {
  height: 100% !important;
  width: 5px !important;
  left: -3px;
}

.line-top {
  height: 5px !important;
  width: 100% !important;
  top: -3px;
}

.line-right {
  height: 100% !important;
  width: 5px !important;
  right: -3px;
}

.line-bottom {
  height: 5px !important;
  width: 100% !important;
  bottom: -3px;
}

.banner-map {
  overflow: hidden;
  position: relative;
}

.blur-banner-map{
  position: absolute;
  bottom: 0 ;
  z-index: 10;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}

.btn-line {
    color:white !important;
    /* height: 80px !important; */
}

.nav-link-custom {
    transition: all .2s ease-in-out;
}

.nav-pills .nav-link-custom.active,
.nav-pills .show>.nav-link-custom
{
    color: var(--primary) !important;
    background-color:#fff !important;
    border: 1px solid var(--primary) !important;
    height: 100% !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateY(-2px);
    z-index: 1000;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.8); 
    box-shadow: 7px 6px 5px 0px rgba(0,0,0,0.8);
}

// ================ CAROUSEL MOBILE ==================
.swiper {
  width: 100%;
}

.swiper-pagination {
  background: rgba(0,0,0,0.8);
  padding: 2%;
}

.swiper-pagination-bullet-active {
  border: 1px solid skyblue;
  transform: scale(2);
  box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
}

@media (min-width: 768px){
    .nav-pills .nav-link-custom.active,
    .nav-pills .show>.nav-link-custom
    {
        transform: scale(1.2) translateY(-9px);
    }
}


@media screen and (min-width: 768px) {
	.contenedor-relativo {
    position: relative;
  }

  .contenedor-relativo h1 {
    position: absolute;
    top: -10px;
    max-width: 100%;
    height: auto;
  }
}

.swiper-slide > img {
  width: 90% !important;
}

.panel-image > img {
  width: 100% !important;
}

.social-icon {
  max-width: 40px;
  max-height: 40px;
}

.social-icon > img {
  width: 100%;
  height: 100%;
}

// .detalles-tecnicos-icon, .detalle-tecnico-contenedor {
//   max-height: 70px;
// }

// .detalle-tecnico-contenedor {
//   padding: 5px;
// }

// .detalles-tecnicos-icon {
//   max-width: 70px;
// }

.detalles-tecnicos-icon > img {
  width: 70px;
  height: 70px;
}

.bri-icon {
  width:60px;
  height: 60px;
  display:inline-block;
  background: currentColor;
}

.bri-icon-inicio {
  -webkit-mask:url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 128 108" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M63.3875 0.977424L1.29019 49.384C0.854027 49.724 0.77665 50.3535 1.11749 50.789L8.88828 60.7184C9.22686 61.151 9.85104 61.2295 10.2862 60.8941L63.3924 19.9683C63.7508 19.692 64.25 19.6909 64.6097 19.9656L118.169 60.8655C118.622 61.2113 119.272 61.1095 119.597 60.6418L126.484 50.742C126.777 50.3207 126.703 49.7458 126.314 49.4117L109.849 35.2993C109.628 35.1093 109.5 34.832 109.5 34.5401V13.5C109.5 12.9477 109.052 12.5 108.5 12.5H91.5C90.9477 12.5 90.5 12.9477 90.5 13.5V18.9621C90.5 19.7931 89.5454 20.2615 88.8881 19.7531L64.6142 0.975151C64.2528 0.695581 63.7479 0.696517 63.3875 0.977424Z" fill="currentColor" stroke="currentColor" stroke-linecap="round"/><path d="M20 62.4921V106C20 106.552 20.4477 107 21 107H54.5C55.0523 107 55.5 106.552 55.5 106V75.5C55.5 74.9477 55.9477 74.5 56.5 74.5H73C73.5523 74.5 74 74.9477 74 75.5V106C74 106.552 74.4477 107 75 107H106.5C107.052 107 107.5 106.552 107.5 106V62.4955C107.5 62.1833 107.354 61.889 107.106 61.6998L64.1092 28.9639C63.7497 28.6901 63.2513 28.6915 62.8933 28.9672L20.3898 61.6998C20.144 61.8891 20 62.1818 20 62.4921Z" fill="currentColor" stroke="currentColor" stroke-linecap="round"/></svg>') center/contain no-repeat;
          mask:url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 128 108" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M63.3875 0.977424L1.29019 49.384C0.854027 49.724 0.77665 50.3535 1.11749 50.789L8.88828 60.7184C9.22686 61.151 9.85104 61.2295 10.2862 60.8941L63.3924 19.9683C63.7508 19.692 64.25 19.6909 64.6097 19.9656L118.169 60.8655C118.622 61.2113 119.272 61.1095 119.597 60.6418L126.484 50.742C126.777 50.3207 126.703 49.7458 126.314 49.4117L109.849 35.2993C109.628 35.1093 109.5 34.832 109.5 34.5401V13.5C109.5 12.9477 109.052 12.5 108.5 12.5H91.5C90.9477 12.5 90.5 12.9477 90.5 13.5V18.9621C90.5 19.7931 89.5454 20.2615 88.8881 19.7531L64.6142 0.975151C64.2528 0.695581 63.7479 0.696517 63.3875 0.977424Z" fill="currentColor" stroke="currentColor" stroke-linecap="round"/><path d="M20 62.4921V106C20 106.552 20.4477 107 21 107H54.5C55.0523 107 55.5 106.552 55.5 106V75.5C55.5 74.9477 55.9477 74.5 56.5 74.5H73C73.5523 74.5 74 74.9477 74 75.5V106C74 106.552 74.4477 107 75 107H106.5C107.052 107 107.5 106.552 107.5 106V62.4955C107.5 62.1833 107.354 61.889 107.106 61.6998L64.1092 28.9639C63.7497 28.6901 63.2513 28.6915 62.8933 28.9672L20.3898 61.6998C20.144 61.8891 20 62.1818 20 62.4921Z" fill="currentColor" stroke="currentColor" stroke-linecap="round"/></svg>') center/contain no-repeat;
}

.bri-icon-informacion {
  -webkit-mask:url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 128 108" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M124 4H4.5C3.94772 4 3.5 4.44771 3.5 5V84.5C3.5 85.0523 3.94772 85.5 4.5 85.5H41.1404C41.3728 85.5 41.598 85.581 41.7773 85.729L63.8631 103.974C64.2328 104.279 64.7672 104.279 65.1369 103.974L87.2227 85.729C87.402 85.581 87.6272 85.5 87.8596 85.5H124C124.552 85.5 125 85.0523 125 84.5V5C125 4.44772 124.552 4 124 4Z" stroke="currentColor" stroke-width="7" stroke-linecap="round" /><path d="M106 21.5H22.5C21.9477 21.5 21.5 21.9477 21.5 22.5V49C21.5 49.5523 21.9477 50 22.5 50H106C106.552 50 107 49.5523 107 49V22.5C107 21.9477 106.552 21.5 106 21.5Z" stroke="currentColor" stroke-width="7" stroke-linecap="round" /><path d="M32 67.5H97" stroke="currentColor" stroke-width="7" stroke-linecap="round" /></svg>') center/contain no-repeat;
          mask:url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 128 108" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M124 4H4.5C3.94772 4 3.5 4.44771 3.5 5V84.5C3.5 85.0523 3.94772 85.5 4.5 85.5H41.1404C41.3728 85.5 41.598 85.581 41.7773 85.729L63.8631 103.974C64.2328 104.279 64.7672 104.279 65.1369 103.974L87.2227 85.729C87.402 85.581 87.6272 85.5 87.8596 85.5H124C124.552 85.5 125 85.0523 125 84.5V5C125 4.44772 124.552 4 124 4Z" stroke="currentColor" stroke-width="7" stroke-linecap="round" /><path d="M106 21.5H22.5C21.9477 21.5 21.5 21.9477 21.5 22.5V49C21.5 49.5523 21.9477 50 22.5 50H106C106.552 50 107 49.5523 107 49V22.5C107 21.9477 106.552 21.5 106 21.5Z" stroke="currentColor" stroke-width="7" stroke-linecap="round" /><path d="M32 67.5H97" stroke="currentColor" stroke-width="7" stroke-linecap="round" /></svg>') center/contain no-repeat;
}

.bri-icon-detalles-tecnicos {
  -webkit-mask:url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 128 81" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M77.5 8H13.5C7.42487 8 2.5 12.9249 2.5 19V49.5C2.5 56.1274 7.87258 61.5 14.5 61.5H17C17.5523 61.5 18 61.9477 18 62.5V74.229C18 76.8317 21.0875 78.1997 23.0154 76.4511L39.2141 61.7593C39.3981 61.5924 39.6376 61.5 39.8859 61.5H68.5M13 25.5H34M13 34.5H39.5M13 43H49" stroke="currentColor" stroke-width="4" stroke-linecap="round" /><path d="M97.4153 39.408C100.828 42.763 124.183 65.7567 126.5 69C127.703 70.6846 127.127 75.0124 125 76.5C122.708 78.1031 118.778 76.778 118 76C116.596 74.5964 93.3018 50.4262 90.3145 47.3263C90.1126 47.1168 89.8289 47.0105 89.5382 47.0219C80.8797 47.3616 77.4827 43.4222 76.5 39C75.9815 36.6666 76.0007 35.0054 76.1394 33.9467C76.232 33.2399 77.0137 33.0927 77.4805 33.6314L82.5622 39.4949C82.8272 39.8006 83.2503 39.9166 83.6341 39.7886L88.4383 38.1872C88.7847 38.0718 89.0406 37.7767 89.1059 37.4174L89.902 33.0389C89.963 32.7032 89.8487 32.3595 89.5986 32.1273L84.0574 26.9819C83.5458 26.5068 83.675 25.6768 84.3514 25.504C87.459 24.71 91.976 25.612 95 29.5C97.7808 33.0753 97.4053 36.9662 97.1336 38.4143C97.0651 38.7792 97.1505 39.1478 97.4153 39.408Z" stroke="currentColor" stroke-width="3" stroke-linecap="round" /><path d="M95.6627 59.6627L89.3417 53.3417C89.1259 53.1258 88.8163 53.0224 88.5124 53.0513C76.2485 54.2162 72.2223 45.0308 72.0091 44.5219C72.0021 44.5053 71.9959 44.4912 71.9883 44.4748C65.5849 30.6457 76.259 23.1666 76.496 23.0028C76.5034 22.9976 76.5039 22.9975 76.5115 22.9926C83.5077 18.4984 90.5044 17.0038 98.5 24C103.609 28.7884 103.623 36.1183 103.532 38.0307C103.517 38.3311 103.623 38.6234 103.836 38.8361L110.163 45.1627C110.376 45.376 110.674 45.4816 110.974 45.4501L119.177 44.5866C119.654 44.5364 120.029 44.1537 120.069 43.6752L120.437 39.2538C120.474 38.8079 120.211 38.3915 119.792 38.2344L113.048 35.7056C112.71 35.5786 112.466 35.2787 112.411 34.9213L111.589 29.5774C111.534 29.2207 111.676 28.8621 111.959 28.6391L117.835 24.0226C118.219 23.7209 118.329 23.1861 118.095 22.7574L115.886 18.7081C115.661 18.2949 115.178 18.0948 114.726 18.2276L107.57 20.3325C107.218 20.4358 106.839 20.339 106.58 20.0802L102.92 16.4198C102.661 16.161 102.564 15.7816 102.668 15.4305L104.772 8.27382C104.905 7.82224 104.705 7.33916 104.292 7.11376L100.243 4.90504C99.8139 4.67123 99.2791 4.78117 98.9774 5.16512L94.3661 11.034C94.1404 11.3213 93.7759 11.4626 93.4154 11.4026L88.5172 10.5862C88.1933 10.5322 87.9166 10.3227 87.7768 10.0256L84.3273 2.69559C84.1343 2.28546 83.6896 2.05644 83.2436 2.13752L79.2758 2.85894C78.8208 2.94167 78.4819 3.32559 78.4563 3.78734L78.0309 11.4442C78.0117 11.7897 77.8151 12.1008 77.5113 12.2666L73.0306 14.7106C72.7044 14.8885 72.3063 14.8709 71.9971 14.6647L65.6422 10.4281C65.2639 10.1759 64.763 10.2107 64.4231 10.5128L61.1504 13.4219C60.7775 13.7533 60.706 14.3089 60.9827 14.724L65.1781 21.0171C65.3772 21.3157 65.401 21.6981 65.2405 22.0191L62.7595 26.9809C62.5991 27.3019 62.2789 27.5123 61.9206 27.5322L54.2993 27.9556C53.8321 27.9816 53.4453 28.3281 53.3684 28.7897L52.638 33.172C52.5582 33.6508 52.8338 34.1178 53.2916 34.2794L60.4355 36.8008C60.7831 36.9234 61.035 37.2274 61.091 37.5917L61.9112 42.9226C61.9661 43.2793 61.8244 43.638 61.5406 43.8609L55.6933 48.4553C55.2971 48.7666 55.1944 49.324 55.4537 49.7561L57.6243 53.3738C57.8481 53.7468 58.2874 53.9324 58.7108 53.8327L65.9578 52.1276C66.2949 52.0483 66.649 52.149 66.8939 52.3939L70.6118 56.1118C70.8536 56.3536 70.9551 56.7021 70.8809 57.0359L69.1694 64.7378C69.0698 65.1858 69.2879 65.644 69.6984 65.8492L73.2704 67.6352C73.6951 67.8476 74.2106 67.732 74.504 67.3586L79.1391 61.4594C79.3621 61.1756 79.7207 61.034 80.0774 61.0888L85.4083 61.909C85.7726 61.965 86.0766 62.2169 86.1993 62.5645L88.7206 69.7084C88.8822 70.1662 89.3492 70.4418 89.828 70.362L94.2495 69.6251C94.693 69.5512 95.0326 69.1904 95.0797 68.7434L95.9501 60.4744C95.9817 60.1744 95.876 59.876 95.6627 59.6627Z" stroke="currentColor" stroke-width="3" stroke-linecap="round" /></svg>') center/contain no-repeat;
          mask:url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 128 81" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M77.5 8H13.5C7.42487 8 2.5 12.9249 2.5 19V49.5C2.5 56.1274 7.87258 61.5 14.5 61.5H17C17.5523 61.5 18 61.9477 18 62.5V74.229C18 76.8317 21.0875 78.1997 23.0154 76.4511L39.2141 61.7593C39.3981 61.5924 39.6376 61.5 39.8859 61.5H68.5M13 25.5H34M13 34.5H39.5M13 43H49" stroke="currentColor" stroke-width="4" stroke-linecap="round" /><path d="M97.4153 39.408C100.828 42.763 124.183 65.7567 126.5 69C127.703 70.6846 127.127 75.0124 125 76.5C122.708 78.1031 118.778 76.778 118 76C116.596 74.5964 93.3018 50.4262 90.3145 47.3263C90.1126 47.1168 89.8289 47.0105 89.5382 47.0219C80.8797 47.3616 77.4827 43.4222 76.5 39C75.9815 36.6666 76.0007 35.0054 76.1394 33.9467C76.232 33.2399 77.0137 33.0927 77.4805 33.6314L82.5622 39.4949C82.8272 39.8006 83.2503 39.9166 83.6341 39.7886L88.4383 38.1872C88.7847 38.0718 89.0406 37.7767 89.1059 37.4174L89.902 33.0389C89.963 32.7032 89.8487 32.3595 89.5986 32.1273L84.0574 26.9819C83.5458 26.5068 83.675 25.6768 84.3514 25.504C87.459 24.71 91.976 25.612 95 29.5C97.7808 33.0753 97.4053 36.9662 97.1336 38.4143C97.0651 38.7792 97.1505 39.1478 97.4153 39.408Z" stroke="currentColor" stroke-width="3" stroke-linecap="round" /><path d="M95.6627 59.6627L89.3417 53.3417C89.1259 53.1258 88.8163 53.0224 88.5124 53.0513C76.2485 54.2162 72.2223 45.0308 72.0091 44.5219C72.0021 44.5053 71.9959 44.4912 71.9883 44.4748C65.5849 30.6457 76.259 23.1666 76.496 23.0028C76.5034 22.9976 76.5039 22.9975 76.5115 22.9926C83.5077 18.4984 90.5044 17.0038 98.5 24C103.609 28.7884 103.623 36.1183 103.532 38.0307C103.517 38.3311 103.623 38.6234 103.836 38.8361L110.163 45.1627C110.376 45.376 110.674 45.4816 110.974 45.4501L119.177 44.5866C119.654 44.5364 120.029 44.1537 120.069 43.6752L120.437 39.2538C120.474 38.8079 120.211 38.3915 119.792 38.2344L113.048 35.7056C112.71 35.5786 112.466 35.2787 112.411 34.9213L111.589 29.5774C111.534 29.2207 111.676 28.8621 111.959 28.6391L117.835 24.0226C118.219 23.7209 118.329 23.1861 118.095 22.7574L115.886 18.7081C115.661 18.2949 115.178 18.0948 114.726 18.2276L107.57 20.3325C107.218 20.4358 106.839 20.339 106.58 20.0802L102.92 16.4198C102.661 16.161 102.564 15.7816 102.668 15.4305L104.772 8.27382C104.905 7.82224 104.705 7.33916 104.292 7.11376L100.243 4.90504C99.8139 4.67123 99.2791 4.78117 98.9774 5.16512L94.3661 11.034C94.1404 11.3213 93.7759 11.4626 93.4154 11.4026L88.5172 10.5862C88.1933 10.5322 87.9166 10.3227 87.7768 10.0256L84.3273 2.69559C84.1343 2.28546 83.6896 2.05644 83.2436 2.13752L79.2758 2.85894C78.8208 2.94167 78.4819 3.32559 78.4563 3.78734L78.0309 11.4442C78.0117 11.7897 77.8151 12.1008 77.5113 12.2666L73.0306 14.7106C72.7044 14.8885 72.3063 14.8709 71.9971 14.6647L65.6422 10.4281C65.2639 10.1759 64.763 10.2107 64.4231 10.5128L61.1504 13.4219C60.7775 13.7533 60.706 14.3089 60.9827 14.724L65.1781 21.0171C65.3772 21.3157 65.401 21.6981 65.2405 22.0191L62.7595 26.9809C62.5991 27.3019 62.2789 27.5123 61.9206 27.5322L54.2993 27.9556C53.8321 27.9816 53.4453 28.3281 53.3684 28.7897L52.638 33.172C52.5582 33.6508 52.8338 34.1178 53.2916 34.2794L60.4355 36.8008C60.7831 36.9234 61.035 37.2274 61.091 37.5917L61.9112 42.9226C61.9661 43.2793 61.8244 43.638 61.5406 43.8609L55.6933 48.4553C55.2971 48.7666 55.1944 49.324 55.4537 49.7561L57.6243 53.3738C57.8481 53.7468 58.2874 53.9324 58.7108 53.8327L65.9578 52.1276C66.2949 52.0483 66.649 52.149 66.8939 52.3939L70.6118 56.1118C70.8536 56.3536 70.9551 56.7021 70.8809 57.0359L69.1694 64.7378C69.0698 65.1858 69.2879 65.644 69.6984 65.8492L73.2704 67.6352C73.6951 67.8476 74.2106 67.732 74.504 67.3586L79.1391 61.4594C79.3621 61.1756 79.7207 61.034 80.0774 61.0888L85.4083 61.909C85.7726 61.965 86.0766 62.2169 86.1993 62.5645L88.7206 69.7084C88.8822 70.1662 89.3492 70.4418 89.828 70.362L94.2495 69.6251C94.693 69.5512 95.0326 69.1904 95.0797 68.7434L95.9501 60.4744C95.9817 60.1744 95.876 59.876 95.6627 59.6627Z" stroke="currentColor" stroke-width="3" stroke-linecap="round" /></svg>') center/contain no-repeat;
}

.bri-icon-cotizacion {
  -webkit-mask:url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 128 97" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5 72V26.5C14.5 25.9477 14.9477 25.5 15.5 25.5H37.5C38.0523 25.5 38.5 25.0523 38.5 24.5V17.5C38.5 16.9477 38.0523 16.5 37.5 16.5H13C9.13401 16.5 6 19.634 6 23.5V80.5C6 81.0523 6.44772 81.5 7 81.5H121C121.552 81.5 122 81.0523 122 80.5V23.5C122 19.634 118.866 16.5 115 16.5H89.5C88.9477 16.5 88.5 16.9477 88.5 17.5V24.5C88.5 25.0523 88.9477 25.5 89.5 25.5H112.5C113.052 25.5 113.5 25.9477 113.5 26.5V72C113.5 72.5523 113.052 73 112.5 73H15.5C14.9477 73 14.5 72.5523 14.5 72Z" stroke="currentColor" stroke-width="4" stroke-linecap="round" /><path d="M126 89.5V82.5C126 81.9477 125.552 81.5 125 81.5H3C2.44772 81.5 2 81.9477 2 82.5V89.5C2 92.2614 4.23858 94.5 7 94.5H121C123.761 94.5 126 92.2614 126 89.5Z" stroke="currentColor" stroke-width="4" stroke-linecap="round" /><path d="M88.5 65V26.5V17.5V3.5C88.5 2.94772 88.0523 2.5 87.5 2.5H39.5C38.9477 2.5 38.5 2.94772 38.5 3.5V17.5V26.5V65M88.5 65H38.5M88.5 65H94M38.5 65H33.5M49.5 46.5H78M49.5 55.5H78M57.5 34.5C57.5 34.5 62.5 36.5 64.5 36M64.5 36C66.5 35.5 67.5 35.5 69 33.5C70.5 31.5 71 29.5 69.5 26.5C68 23.5 64 24 61.5 22.5C59 21 58.6 18.5 59 16.5C59.4 14.5 61 12.5 64 12.5M64.5 36V40.5M64 12.5C67 12.5 69 14.5 69 14.5M64 12.5V9" stroke="currentColor" stroke-width="4" stroke-linecap="round" /></svg>') center/contain no-repeat;
          mask:url('data:image/svg+xml;utf8,<svg width="60" height="60" viewBox="0 0 128 97" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5 72V26.5C14.5 25.9477 14.9477 25.5 15.5 25.5H37.5C38.0523 25.5 38.5 25.0523 38.5 24.5V17.5C38.5 16.9477 38.0523 16.5 37.5 16.5H13C9.13401 16.5 6 19.634 6 23.5V80.5C6 81.0523 6.44772 81.5 7 81.5H121C121.552 81.5 122 81.0523 122 80.5V23.5C122 19.634 118.866 16.5 115 16.5H89.5C88.9477 16.5 88.5 16.9477 88.5 17.5V24.5C88.5 25.0523 88.9477 25.5 89.5 25.5H112.5C113.052 25.5 113.5 25.9477 113.5 26.5V72C113.5 72.5523 113.052 73 112.5 73H15.5C14.9477 73 14.5 72.5523 14.5 72Z" stroke="currentColor" stroke-width="4" stroke-linecap="round" /><path d="M126 89.5V82.5C126 81.9477 125.552 81.5 125 81.5H3C2.44772 81.5 2 81.9477 2 82.5V89.5C2 92.2614 4.23858 94.5 7 94.5H121C123.761 94.5 126 92.2614 126 89.5Z" stroke="currentColor" stroke-width="4" stroke-linecap="round" /><path d="M88.5 65V26.5V17.5V3.5C88.5 2.94772 88.0523 2.5 87.5 2.5H39.5C38.9477 2.5 38.5 2.94772 38.5 3.5V17.5V26.5V65M88.5 65H38.5M88.5 65H94M38.5 65H33.5M49.5 46.5H78M49.5 55.5H78M57.5 34.5C57.5 34.5 62.5 36.5 64.5 36M64.5 36C66.5 35.5 67.5 35.5 69 33.5C70.5 31.5 71 29.5 69.5 26.5C68 23.5 64 24 61.5 22.5C59 21 58.6 18.5 59 16.5C59.4 14.5 61 12.5 64 12.5M64.5 36V40.5M64 12.5C67 12.5 69 14.5 69 14.5M64 12.5V9" stroke="currentColor" stroke-width="4" stroke-linecap="round" /></svg>') center/contain no-repeat;
}

.bri-icon-ficha-tecnica {
  -webkit-mask:url('data:image/svg+xml;utf8,<svg width="80" height="80" viewBox="0 0 123 127" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M95.5 34.5V3C95.5 2.44772 95.0523 2 94.5 2H3C2.44772 2 2 2.44772 2 3V114.425C2 114.475 2.0026 114.518 2.011 114.567C2.16031 115.437 3.90841 124.476 12 124H103" stroke="currentColor" stroke-width="4" stroke-linecap="round"/><path d="M108.977 124.001C98.6998 124.455 95.8546 115.736 95.5323 114.618C95.5097 114.539 95.5 114.459 95.5 114.377V34.5C95.5 33.9477 95.9477 33.5 96.5 33.5H119.5C120.052 33.5 120.5 33.9477 120.5 34.5V114.298C120.5 114.431 120.472 114.567 120.419 114.689C116.529 123.702 109.47 123.99 109.022 124C109.007 124 108.992 124 108.977 124.001Z" stroke="currentColor" stroke-width="4" stroke-linecap="round"/><path d="M19.5 62H77M19.5 76H77M19.5 92H77M19.5 105.5H77M20.5 46.5H76C76.5523 46.5 77 46.0523 77 45.5V20.5C77 19.9477 76.5523 19.5 76 19.5H20.5C19.9477 19.5 19.5 19.9477 19.5 20.5V45.5C19.5 46.0523 19.9477 46.5 20.5 46.5Z" stroke="currentColor" stroke-width="6" stroke-linecap="round"/></svg>') center/contain no-repeat;
          mask:url('data:image/svg+xml;utf8,<svg width="80" height="80" viewBox="0 0 123 127" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M95.5 34.5V3C95.5 2.44772 95.0523 2 94.5 2H3C2.44772 2 2 2.44772 2 3V114.425C2 114.475 2.0026 114.518 2.011 114.567C2.16031 115.437 3.90841 124.476 12 124H103" stroke="currentColor" stroke-width="4" stroke-linecap="round"/><path d="M108.977 124.001C98.6998 124.455 95.8546 115.736 95.5323 114.618C95.5097 114.539 95.5 114.459 95.5 114.377V34.5C95.5 33.9477 95.9477 33.5 96.5 33.5H119.5C120.052 33.5 120.5 33.9477 120.5 34.5V114.298C120.5 114.431 120.472 114.567 120.419 114.689C116.529 123.702 109.47 123.99 109.022 124C109.007 124 108.992 124 108.977 124.001Z" stroke="currentColor" stroke-width="4" stroke-linecap="round"/><path d="M19.5 62H77M19.5 76H77M19.5 92H77M19.5 105.5H77M20.5 46.5H76C76.5523 46.5 77 46.0523 77 45.5V20.5C77 19.9477 76.5523 19.5 76 19.5H20.5C19.9477 19.5 19.5 19.9477 19.5 20.5V45.5C19.5 46.0523 19.9477 46.5 20.5 46.5Z" stroke="currentColor" stroke-width="6" stroke-linecap="round"/></svg>') center/contain no-repeat;
}