.banner-map {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
}



@media screen and (min-width: 768px) {
	.img-for-the-ride {
        position: relative;
    }
    
    .img-for-the-ride {
        img {
            position:absolute;
            top: -80px;
        }
    }
}