:root {
	--d-animation-carousel: 3s;
}

// .dropdown-menu {
// 	min-height: 100vh !important;
// }

.carousel-content {
    position: absolute;
    bottom: 30%;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);

    &.c-content-left {
        left: 10%;
    }
    
    &.c-content-right {
        right: 15%;
    }
}

.btn-responsive {
	padding: 0.8vw;
}

.carousel-control-prev {
	// width: 5%;
	left: 90%;
}

.carousel-control-next,
.carousel-control-prev {
	width: 5% !important;
    justify-content: center !important;
	background: rgba(0, 0, 0, 0.1);
}

.carousel-control-prev {
	left: inherit !important;
    right: 5%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%);
	// background: rgba(0, 0, 0, 0.1);
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
	background: rgba(0, 0, 0, 0.9);
}

.carousel {
	overflow: hidden;
}

.carousel-item,
img {
	min-height: 0 !important;
}

span .text-navbar {
	transform: rotate(90deg);
}

.carousel-control-next-icon::before,
.carousel-control-prev-icon::before {
	margin-left: inherit !important;
    margin-right: inherit !important;
    padding: inherit !important;
    // font-size: inherit !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.loading {
	width: 0.3%;
	height: 0px;
	background: red;
	z-index: 10;
	position: absolute;
	right: 5%;
	top: 50%;
}

.loading-animated {
	animation: loading alternate ease var(--d-animation-carousel) infinite;
    -webkit-animation: loading alternate ease var(--d-animation-carousel) infinite;
    -moz-animation: loading alternate ease var(--d-animation-carousel) infinite;
    -o-animation: loading alternate ease var(--d-animation-carousel) infinite;
    -ms-animation: loading alternate ease var(--d-animation-carousel) infinite;
}

.text-sm {
    font-size: 0.7rem;
}

.fadeIn {
    animation: fadeIn ease var(--d-animation-carousel);
    -webkit-animation: fadeIn ease var(--d-animation-carousel);
    -moz-animation: fadeIn ease var(--d-animation-carousel);
    -o-animation: fadeIn ease var(--d-animation-carousel);
    -ms-animation: fadeIn ease var(--d-animation-carousel);
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
	}
}

@keyframes loading {
    0% {
        height:0;
		top: 50%;
    }
    100% {
		top: -10%;
        height: 100vw;
	}
}

.btn-banner:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

.text-btn-responsive {
    font-size: 1vw;
}

.text-p-responsive {
    font-size: 2vw;
}

.text-h-responsive {
    font-weight: bold;
    font-size: 3vw;
}

.text-responsive-2 {
    font-size: 2vw;
}

.text-responsive-3 {
    font-size: 3vw;
}

.text-responsive-4 {
    font-size: 4vw;
}

.text-responsive-5 {
    font-size: 5vw;
}

.text-responsive-6 {
    font-size: 6vw;
}

.text-responsive-7 {
    font-size: 7vw;
}

.text-responsive-8 {
    font-size: 8vw;
}

.text-responsive-10 {
    font-size: 50vh;
}

@media screen and (max-width: 768px) {
	.carousel-control-prev, .loading {
		display: none;
	}

    .carousel-content {
		position: inherit;
		display: block;
		margin: auto;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);

        &.c-content-left {
            left: initial;
        }
        
        &.c-content-right {
            right: initial;
        }
	}

    .btn-responsive {
		padding: 3%;
	}

	.text-btn-responsive {
		font-size: initial;
	}
	
	.text-p-responsive {
		font-size: initial;
	}
	
	.text-h-responsive {
		font-weight: bold;
		font-size: initial;
	}
}