/* BMW Fonts*/

@font-face {
    font-family: 'bmw_groupregular';
    src: url('../fonts/bmwgroup_regular-webfont.eot');
    src: url('../fonts/bmwgroup_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bmwgroup_regular-webfont.woff2') format('woff2'),
        url('../fonts/bmwgroup_regular-webfont.woff') format('woff'),
        url('../fonts/bmwgroup_regular-webfont.ttf') format('truetype'),
        url('../fonts/bmwgroup_regular-webfont.svg#bmw_groupregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bmw_grouplight';
    src: url('../fonts/bmwgroup_light-webfont.eot');
    src: url('../fonts/bmwgroup_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bmwgroup_light-webfont.woff2') format('woff2'),
        url('../fonts/bmwgroup_light-webfont.woff') format('woff'),
        url('../fonts/bmwgroup_light-webfont.ttf') format('truetype'),
        url('../fonts/bmwgroup_light-webfont.svg#bmw_grouplight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bmw_groupbold';
    src: url('../fonts/bmwgroup_bold-webfont.eot');
    src: url('../fonts/bmwgroup_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bmwgroup_bold-webfont.woff2') format('woff2'),
        url('../fonts/bmwgroup_bold-webfont.woff') format('woff'),
        url('../fonts/bmwgroup_bold-webfont.ttf') format('truetype'),
        url('../fonts/bmwgroup_bold-webfont.svg#bmw_groupbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Foundation Interchange Startup */

meta.foundation-data-attribute-namespace {
    font-family: false;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: bmw_groupregular,arial,helvetica,sans-serif;
    line-height: 16px;
    font-size: 13px;
    overflow-x: hidden;
}

p {
    margin: 0;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

footer p {
    display: none;
    text-align: center;
}

.instructions {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 15px;
    padding: 15px;
}

span.required {
    color: #3858E6;
}

label {
    font-weight: normal;
}

.form-control {
    border-radius: 0px;
}

.red-alert, .green-alert {
    color: #ffffff;
    padding: 8px;
    text-align:center;
    color: #fff;
}

.red-alert {
    background-color: #D9534F;
}

.green-alert {
    background-color: #3858E6;
}

.custom-alert {
    margin-bottom: 15px;
}

.privacy-terms {
    margin-top: 30px;
}

#login-frame {
    margin-top: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#login-frame .red-alert {
    margin-top: 15px;
}

.table-wrapper {
    overflow-x: auto;
    background-color: #fff;
}

.table-wrapper .table {
    margin-bottom: 0;
}

.label-danger {

}

.container-fluid {
    position: relative;
}

footer {
    margin-bottom: 60px;
}

#form-container {
    padding-left: 30px;
    padding-right: 30px;
}

.fallback {
    text-align: left;
}

#thank-you-modal .modal-body {
    padding: 0;
}

#thank-you-modal .modal-content {
    position: relative;
}

#thank-you-modal .close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 50;
    opacity: 1;
    filter: alpha(opacity="100");
}

#thank-you-modal .close img {
    width: 25px;
    height: 25px;
}

@media (min-width: 768px) {
    #form-container {
        position: absolute;
        top: 20%;
        left: 30px;
        width: 550px;
        padding-bottom: 15px;
        padding-top: 15px;
        z-index: 20;
        color: #fff;
    }

    .form-group {
        margin-bottom: 4px;
    }

    .control-label {
        padding-right: 0;
    }

    .instructions {
        border: none;
        padding: 0;
    }

}

@media (min-width: 992px) {
    #form-container {
        width: 500px;
        top: 20%;
    }
}

@media (min-width: 1200px) {
    #form-container {
        top: 24%;
    }
}

#callbacks .info-container {
    margin: 0px 30px;
}

#callbacks a {
    color: #000;
}

#callbacks .social-icon {
    float: left;
    margin-right: 10px;
    width: 30px;
}

#callbacks .btn {
    width: auto;
    display: inline-block;
    padding: 5px 30px;
}

#callbacks h1 {
    font-weight: bold;
    margin-top: 0;
    color: #585858;
    text-transform: uppercase;
}

.modal-body h2 {
    margin-top: 0;
}